spring:
    application:
        name: user-service
    datasource:
        url: jdbc:postgresql://localhost:5432/user-service
        username: root
        password: root
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://localhost:8083/realms/neurofit